<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="angular.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
<div ng-app="instantSearch" ng-controller="InstantSearchController">

    <div class="bar">
        <!-- Create a binding between the searchString model and the text field -->
        <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
    </div>

    <ul>
        <!-- Render a li element for every entry in the items array. Notice
             the custom search filter "searchFor". It takes the value of the
             searchString model as an argument.
         -->
        <li ng-repeat="i in items | filter:searchString">
            <img ng-src="{{ i.image }}" />
            <p>{{ i.title }}</p>
            <p>{{ i.release }}</p>
        </li>
    </ul>
</div>
<script src="script.js"></script>
</body>
</html>